APPM/script/__pycache__/new_read_data.cpython-36.pyc
APPM/script/__pycache__/new.cpython-37.pyc
APPM/script/__pycache__/read_data.cpython-37.pyc
APPM/script/__pycache__/new_read_data.cpython-37.pyc
APPM/script/__pycache__/*
APPM2/*
APPM/predictresults/*/*
APPM/script/.ipynb_checkpoints/*
APPM/script/A0101/*
APPM/script/A0201/*
APPM/script/A0203/*
APPM/script/A3101/*
APPM/script/B4402/*
APPM/script/B4403/*